.wheel-container {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 10px auto;
}

.wheel {
    width: 100%;
    height: 100%;
    border: 5px solid #333;
    border-radius: 50%;
    transition: transform 3s cubic-bezier(0.32, 0.64, 0.45, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.slice {
    position: absolute;
    transform-origin: center;
    text-align: center;
}

.pointer {
    position: absolute;
    top: -22px;
    left: 51.5%;
    transform: translateX(-50%);
    font-size: 24px;
  }

.chip-controls {
    margin: 20px;
}

.result {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}
